<div >
    <div >
      <p>
        <a routerLink="/mybooks">My requested books! </a>
        <a [hidden]="isLibrarian == false" routerLink="/userbooks"> | View books requested </a>
        <a [hidden]="isLibrarian == false" routerLink="/users"> | Users</a>
      </p>

    </div>
    <div>
      <label>Filter: </label>
      <input [ngModel]="filterText" (ngModelChange)="filterBooks($event)" class="form-control" />
      <br/>
    </div>
    <div *ngFor="let book of books" class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{book.title}}</h5>
          <p class="card-text">Autor: {{book.author}}</p>
          <p class="card-text">Genre: {{book.genre}}</p>
         
          <p class="card-text">Date released: {{book.showPublished}} </p>
        </div>
        <div class="card-footer">
          <span class="card-text">Quantity: {{book.quantity}}</span>&nbsp;
          <button (click)="Book(book.id)"   type="submit" class="btn btn-primary">Reserve</button>
        </div>
      </div>
</div>
