<a routerLink="/users">Back</a>  
      <div class="form-group">
        <label for="exampleInputEmail1">First name</label>
        <input [(ngModel)]="user.FirstName" type="text" class="form-control" placeholder="First name">
       
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Last name</label>
        <input [(ngModel)] = "user.LastName" type="text" class="form-control" id="exampleInputPassword1" placeholder="Last name">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Email</label>
          <input [(ngModel)] = "user.Email" type="email" class="form-control" id="exampleInputPassword1" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">Role</label>
        <select [(ngModel)]="user.Role" class="form-control">
            <option value="Librarian" >Librarian</option>
            <option value="Librarian">Student</option>
        </select>
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Password</label>
          <input [(ngModel)] = "user.Password" min="1" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>
      <div class="form-group">
          <label for="exampleInputPassword1">Confirm password</label>
          <input [(ngModel)] = "user.ConfirmPassword" type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm password">
      </div>
      <br/>
      <button (click)="Guardar()" type="submit" class="btn btn-primary">Crear usuario</button>
    